@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate {
  animation: rotate 1s ease-in-out infinite alternate;
}

/* Keyframes */
@keyframes rotate {
  0% {
    transform: rotate(deg0) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.7);
  }
}

.controls-options {
  z-index: 0;
  transform: scale(0);
  opacity: 0;
  transition: z-index 0.5s, transform 0.5s, border-radius 0.5s, opacity 0.5s;
}

.show-controls-option {
  z-index: 20;
  transform: scale(1);
  transition: z-index 0.5s, transform 0.5s, border-radius 0.5s, opacity 0.5s;
  opacity: 1;
}

.share-links-cont {
  z-index: 0;
  opacity: 0;
}

.show-share-links-cont {
  opacity: 1;
  z-index: 20;
  transition: opacity 0.4s, z-index 0.4s;
}
